public/iMessage automation - Needs Twillio.json
{
  "name": "iMessage automation - Needs Twillio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee0a43de-9ea0-4b53-80de-0d32552fbfab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "30c66896-77d1-4de0-87a9-618180a93c8d",
      "name": "Webhook",
      "webhookId": "ee0a43de-9ea0-4b53-80de-0d32552fbfab"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.messages }}",
        "options": {
          "systemMessage": "Your job is to reply to one or multiple messages.\n\nYou will receive an array of one or multiple messages related to general enquires and also gmail functions\n\nTo send an email use the send_email tool. to get the email address of the recipient use the google sheets tool to return a list of names with email and match up to requested persons name with their email address.\n\nTo get info on emails use the get_emails tool which will return the last 50 emails and find what the user was looking for"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        544,
        224
      ],
      "id": "ed3074b0-4c07-4280-abc8-a5a306b41e14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        368
      ],
      "id": "15504dfd-ac1a-404d-9fd4-c8010b1f51b9",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code').item.json.messages }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        448
      ],
      "id": "6123a4b2-157a-4cc1-bdac-50e5bc1c274f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "from": "+447458008548",
        "to": "={{ $('Code').item.json.from }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        944,
        224
      ],
      "id": "d0fce740-0187-44a6-aafe-a329489184b2",
      "name": "Twilio"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4",
          "mode": "list",
          "cachedResultName": "Sms messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json.body.Body }}"
          },
          "matchingColumns": [
            "Message"
          ],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        0
      ],
      "id": "981ac927-093c-4f6e-ac8d-5560d2f7d795",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        0
      ],
      "id": "dded3a85-7c4a-414b-a1a1-4895a752876e",
      "name": "Wait",
      "webhookId": "a9b6c90c-e129-40c8-ad1b-6ba61fb55857"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4",
          "mode": "list",
          "cachedResultName": "Sms messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        0
      ],
      "id": "859dfc43-00b5-46d5-bfc6-e92cde18a356",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        480
      ],
      "id": "b9e408d1-f4a1-4651-bcc9-61d9ff279039",
      "name": "Gmail",
      "webhookId": "ecfdaa7b-6506-4091-bbe7-ad4a4f5378c1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        688,
        480
      ],
      "id": "cb283b3a-c30f-4327-95dd-cf0a4d3e12ba",
      "name": "Gmail1",
      "webhookId": "16656f03-c078-4466-b116-7ab532d9aafd"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dC5PMEgo39Wunqbh5krF21vxgBFybstrvVYtAKhK6lM",
          "mode": "list",
          "cachedResultName": "Name with emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dC5PMEgo39Wunqbh5krF21vxgBFybstrvVYtAKhK6lM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dC5PMEgo39Wunqbh5krF21vxgBFybstrvVYtAKhK6lM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        560,
        464
      ],
      "id": "2bc0780b-8511-4855-965d-212cebe75f4a",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4",
          "mode": "list",
          "cachedResultName": "Sms messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hsSP-EAipqgpR4_8IyrSiZfF1yhHkth51IHon6ljYt4/edit#gid=0"
        },
        "startIndex": "=2",
        "numberToDelete": "={{ $json.totalMessages }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        928,
        0
      ],
      "id": "47ccbee9-030b-42f7-b1ec-6735dadaced1",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst from = $('Webhook').first().json.body.From;\n\nconst messages = items.map(item => \n  `Row ${item.json.row_number}: ${item.json.Message}`\n);\n\n// Join the messages into one string\nconst messageString = messages.join('\\n');\n\nreturn [\n  {\n    json: {\n      from,\n      messages: messageString, // now a single string, not an array\n      totalMessages: messages.length\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "53b4fb95-a1d8-4ed3-905c-ac1d43f2c014",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "778ea7bf-835f-4485-9032-fedc1e21f04a",
  "meta": {
    "instanceId": "e8d5d3c793044974044ac40ebfc05ca36add08e0322b22ed8648412f6f9e17bf"
  },
  "id": "yQ3PEOGGxftmidU1",
  "tags": [
    {
      "updatedAt": "2025-11-27T15:34:31.654Z",
      "createdAt": "2025-11-27T15:34:31.654Z",
      "id": "sqcZlHe0wWzYiWIB",
      "name": "Free Resource"
    }
  ]
}